
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Raleway:wght@100&display=swap');

 a{
    background-color: #2f5a2f69;
    color: #002200;
    text-decoration: none;
}


.header{
   

}

html, body {
    
    margin: 2px;
    
}

.checkbox{
    background-color: blueviolet;
}

.caixinha {
    background-color: #002200;
    color: white;
}




body {
    
    background-color: #2f5a2f;
    color: #002200;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgba(77, 122, 107, 0.644);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: rgb(49, 116, 88);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(65, 145, 105);
    min-height: 150px;
}
.content {
    background-color: rgba(73, 138, 98, 0.267);
    min-height: 300px;
    padding: 20px;
  

}
.footer {
    background-color: rgba(139, 48, 36, 0.603);
    min-height: 150px;
}

.pe {
    background-color:rgba(77, 122, 107, 0.644);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(5, 51, 29, 0.788);
        font-size: x-large;
}

.sobre{
    background-color: #2f5a2f4b;
    border: dotted 4px rgba(25, 92, 25, 0.404);
    font-family:  ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-weight: bolder;

    
}

.img-01{
    border:double 9px rgba(5, 53, 5, 0.425);
    box-shadow: 30px 30px gray 5px ;
    
}

.fotos{
    border: 2px red;
    object-fit: fill;
}

.audio01{

    border: 2px solid rgb(7, 54, 32);
    border-radius: 200%;
    background-color: #2f5a2f;
    box-shadow: 20px 20px 10px black  ;
}

.btn{
    
    background-color: rgb(180, 107, 17);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
    font-size: medium;
    font-family: monospace;
}

.btn:hover{
    background-color: rgb(218, 175, 122);
    font-size: larger;
    color: #002200;

}

.rep{
    Width: 100%;
    Height:50%;
    border-radius: 50% 2px ;
    box-shadow:100px 10px 50px #002200 ;

}

a:hover{
    color: wheat;
    font-size: large;
    
}
