teste.css

table,th,td {
        border: 4px solid darkgreen;
        border-collapse: collapse;
        padding: 5px 5px;
        color: darkgreen;           
                        }

                        table{ 
                            width: 40%;
                          
                        }
                        tr{
                            background-color: seagreen;
                            color: :black

                        }
                        tr:hover{
                            background-color: aquamarine;
                        }

                        tr{
                            align-items: center; 20%
                        }

                          

   